// @priority: 10

import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:{{project_name}}/features/home/presentation/cubit/counter_cubit.dart';
import 'package:{{project_name}}/l10n/l10n.dart';
import 'package:{{project_name}}/shared/language/cubit/language_cubit.dart';
import 'package:{{project_name}}/shared/theme/cubit/theme_cubit.dart'; 