/// Application routes
class AppRoutes {
  /// Splash screen route
  static const splash = '/splash';

  /// Home screen route
  static const home = '/';

  {{feature_routes}}
  
  {{additional_routes}}
} 